<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
	</head>
	<body>
		<header>
			<div class="container">
				<nav class="main-nav">
					<ul>
						<li><a href="/">Map</a></li>
						<li><a href="/table.html">Table</a></li>
						<li><a href="/about.html">About</a></li>
					</ul>
				</nav>
				<h1><a href="/">Public health <strong>map</strong></a></h1>
			</div>
		</header>
		<div class="content">
			{{ content }}
		</div>
	</body>
</html>
